<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSA Slip System</title>

    <link rel="stylesheet" href="static/css/student.css">
</head>
<body>
    <h1>Hello <span id="name">name</span></h1>
    
    <div id="container">
        <button id="history" onclick="location.href='/history'">Check Slip History</button>
        <button id="new_slip" onclick="location.href='/osaform'">File New Slip</button>
    </div>
</body>
</html>